services:
  nginx:
    build: ./nginx
    image: nginx
    container_name: nginx
    env_file:
      - ${PWD}/.env
    volumes:
      - wordpress:/var/www/html/wordpress
    ports:
      - "443:443"
    networks:
      - web
    depends_on:
      - wordpress
    restart: on-failure

  wordpress:
    build: ./wordpress
    image: wordpress
    container_name: wordpress
    env_file:
      - ${PWD}/.env
    volumes:
      - wordpress:/var/www/html/wordpress
    networks:
      - web
    expose:
      - "9000:9000"
    depends_on:
      - mariadb
    restart: on-failure
  
  mariadb:
    build: ./mariadb
    image: mariadb
    container_name: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    networks:
     - web
    env_file:
      - ${PWD}/.env
    expose:
      - "3306:3306"
    restart: on-failure

networks:
  web:
    name: web
    driver: bridge

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/${USER}/data/wordpress'
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/${USER}/data/mariadb'